/**
* -----------------------------------------------------------------
* Project : Kniffel
* Stylesheet Author : Jannik Buscha
* -----------------------------------------------------------------
*/
/*=================================================================
	Fonts
==================================================================*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/*=================================================================
	Basic
==================================================================*/

* {
    main: #6F55F2;
    error: #F25555;
    success: #00bb00;
    maintext: #ffffff;
    primarytext: #8997AD;
    background: #262B32;
    sidebar: #1A1D22;
    pane: #343841;
    primarypane: #2e343b;

    -fx-font-family: 'Montserrat', sans-serif;
    -fx-text-fill: maintext;
    -fx-font-smoothing-type: gray;
    -fx-effect: none;
    -fx-accent: main;
    -fx-focus-color: main;
}

.context-menu {
    -fx-background-color: background;
    -fx-text-fill: maintext;
}

.mainColorBackground {
    -fx-background-color: main;
}

.background {
    -fx-background-color: background;
}

.transparent {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

.jfx-rippler {
    -jfx-rippler-fill: background;
}

.mainMenuIcon, .tabIcon, .menuIcon, .icon, .footerIcon, .playerInfoIcon {
    -fx-font-family: 'FontAwesome';
    -fx-fill: maintext;
}

.bigText {
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}

/*=================================================================
	Notification
==================================================================*/

.jfx-layout-heading, .jfx-layout-body, .jfx-layout-actions {
    -fx-background-color: pane;
}

.jfx-layout-heading .label {
    -fx-font-weight: 700;
    -fx-font-size: 12pt;
}

.jfx-layout-body .label {
    -fx-text-fill: primarytext;
    -fx-font-size: 10pt;
    -fx-font-weight: 400;
}

/*=================================================================
	Title Bar
==================================================================*/

.hBox, .buttonIcon, .buttonCloseIcon {
    -fx-pref-height: 32;
    -fx-min-height: 32;
    -fx-max-height: 32;
}

.buttonIcon, .buttonCloseIcon {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.buttonIcon:hover {
    -fx-background-color: main;
}

.buttonCloseIcon:hover {
    -fx-background-color: error;
}

/*=================================================================
	Splash Screen
==================================================================*/

.splashScreenTitle {
    -fx-font-weight: 700;
    -fx-font-size: 70;
}

.jfx-progress-bar > .bar {
    -fx-background-color: main;
}

.jfx-progress-bar > .track {
    -fx-background-color: sidebar;
}

/*=================================================================
	FooterUtil
==================================================================*/

.footer {
    -fx-text-fill: maintext;
    -fx-background-color: main;
}

.footerText {
    -fx-font-size: 16;
    -fx-font-weight: 700;
}

.footerIcon {
    -fx-font-size: 19;
}

.footerIcon:hover, .footerText:hover {
    -fx-cursor: hand;
}

/*=================================================================
	Login
==================================================================*/

.roundedPane {
    -fx-background-radius: 29;
}

.loginPane {
    -fx-background-color: pane;
    -fx-background-radius: 0 0 4 4;
}

.topLoginPane {
    -fx-background-color: main;
    -fx-background-radius: 4 4 0 0;
}

.icon {
    -fx-fill: primarytext;
}

.register {
    -fx-text-fill: main;
}

.register:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.title {
    -fx-font-size: 42px;
    -fx-font-weight: 700;
}

.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: primarytext;
    -jfx-unfocus-color: primarytext;
    -jfx-focus-color: main;
}

.jfx-button {
    -fx-background-color: main;
    -fx-text-fill: maintext;
}

.jfx-check-box {
    -fx-text-fill: primarytext;
    -jfx-checked-color: main;
    -jfx-unchecked-color: primarytext;
}

.jfx-check-box, .jfx-button {
    -fx-cursor: hand;
}

/*=================================================================
	Main Menu
==================================================================*/

.mainMenuButton {
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

.mainMenuIcon {
    -fx-font-size: 24px;
}

.mainMenuTitle {
    -fx-font-size: 94.5px;
    -fx-font-weight: 700;
}

.statusButton {
    -fx-background-color: primarytext;
}

/*=================================================================
	Settings
==================================================================*/

.tab-header-background, .tab-selected-line, .tab {
    -fx-background-color: transparent;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: main;
}

.tab {
    -fx-pref-height: 92px;
    -fx-pref-width: 337px;
}

.tab:selected {
    -fx-border-width: 0 0 4 0;
    -fx-border-color: main;
}

.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: primarytext;
    -fx-padding: 0 0 0 -120px;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: maintext;
    -fx-padding: 0 0 0 -120px;
}

.tabIcon {
    -fx-font-size: 34px;
    -fx-fill: primarytext;
}

.tabTitle {
    -fx-font-size: 64px;
    -fx-font-weight: 700;
    -fx-padding: 0 0 0 23px;
}

.settingsPane {
    -fx-background-color: pane;
    -fx-background-radius: 10;
}

.settingsPaneTitle {
    -fx-font-weight: 700;
}

.menuIcon {
    -fx-font-size: 76px;
    -fx-font-weight: 700;
}

.settingsText {
    -fx-text-fill: primarytext;
}

.jfx-toggle-button {
    -jfx-toggle-color: maintext;
    -jfx-untoggle-color: maintext;
    -jfx-toggle-line-color: main;
    -jfx-untoggle-line-color: transparent;
    -jfx-size: 7.5;
}

.toggleButtonBackground {
    -fx-background-color: background;
    -fx-background-radius: 5em;
}

.jfx-combo-box {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}

.combo-box-popup .list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: background;
}

.combo-box {
    -fx-focus-color: transparent;
    -fx-background-insets: -1, -1, -1, -1;
    -fx-background-radius: 4px;
    -fx-background-color: background;
}

.combo-box .list-cell {
    -fx-text-fill: maintext;
}

.combo-box-base .arrow-button {
    -fx-background-color: transparent;
}

.combo-box-base .arrow {
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
    -fx-background-color: maintext;
}

.combo-box-popup .list-view {
    -fx-effect: null;
}

.combo-box-popup .list-view, .combo-box-popup .list-view .list-cell:filled, .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: pane;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: main;
}

.jfx-slider > .track {
    -fx-background-color: background;
    -fx-pref-height: 4px;
}

.jfx-slider > .thumb, .jfx-slider > .animated-thumb, .jfx-slider > .colored-track {
    -fx-background-color: main;
}

.editField, .editPasswordField {
    -fx-background-radius: 4px;
    -fx-background-color: transparent;
    -fx-border-color: maintext;
    -fx-border-width: 1.5px;
    -fx-padding: 0 0 0 6px;
    -fx-border-radius: 4px;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}

.editField:focused, .editPasswordField:focused {
    -fx-border-color: main;
}


/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: pane;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: main;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
    -fx-background-radius: 50px;
}

.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: pane;
}

.scroll-pane > .viewport {
    -fx-background-color: pane;
    -fx-background-radius: 4px 0 0 4px;
}

/* Text Area */
.text-area {
    -fx-font-family: 'Roboto Mono', monospace;
    -fx-font-size: 12;
    -fx-text-fill: maintext;
    -fx-display-caret: true;
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: transparent;
}

.text-area .content {
    -fx-padding: 10px;
}

/* Table */
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: pane;
}

.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header {
    -fx-background-color: pane;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, transparent 0%, transparent 92%, background 92%, background 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: maintext;
}

.table-row-cell .text, .table-row-cell:hover .text, .table-row-cell:selected .text, .table-row-cell:hover:selected .text, .table-row-cell:focused:selected .text {
    -fx-fill: primarytext;
}

.table-row-cell:hover, .table-row-cell:selected {
    -fx-background-color: pane;
}

.table-row-cell {
    -fx-background-color: pane;
    -fx-background-insets: 0;
    -fx-table-cell-border-color: pane;
}

.table-cell, .table-view .column-header .label {
    -fx-text-fill: maintext;
    -fx-font-size: 14px;
    -fx-padding: 5px 0 5px 4px;
    -fx-alignment: CENTER;
}

.table-row-cell:odd {
    -fx-background-color: primarypane;
}

.playerTurn {
    -fx-text-fill: maintext;
    -fx-font-size: 26px;
    -fx-font-weight: 700;
}

.customTableLine {
    -fx-fill: maintext;
    -fx-stroke: none;
}

.customHeadTableLine {
    -fx-fill: background;
    -fx-stroke: none;
}

.rollButton {
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-background-radius: 50px;
}

.big-check-box > .box, .big-check-box > .box > .mark {
    -fx-padding: 32px;
    -fx-background-color: transparent;
}

.big-check-box:hover {
    -fx-cursor: hand;
}

.stats-tab-pane .tab .tab-label {
    -fx-text-fill: primarytext;
    -fx-padding: 0;
}

.stats-tab-pane .tab:selected .tab-label {
    -fx-text-fill: maintext;
    -fx-padding: 0;
}

.tooltip {
    -fx-background-color: pane;
    -fx-font-size: 22px;
}

.scoretip {
    -fx-stroke: main;
    -fx-fill: background;
}

.scoretip-text {
    -fx-font-weight: 700;
    -fx-font-size: 14px;
}

.scoretip-text, .playerInfoIcon:hover {
    -fx-cursor: hand;
}

.playerInfo, .playerInfoIcon {
    -fx-font-size: 12;
    -fx-font-weight: 700;
}

.errorTestToggle {
    -jfx-untoggle-color: error;
}

.errorTestFocus {
    -jfx-unfocus-color: error;
}

.mainTestBackground {
    -fx-background-color: main;
}

.backgroundTestBackground {
    -fx-background-color: background;
}

.borderLineTestTrue {
    -fx-effect: innershadow(three-pass-box, main, 6, 1, 0, 0);
}

.borderLineTestFalse {
    -fx-effect: innershadow(three-pass-box, background, 5, 1, 0, 0)
}

.statusOfflineTest {
    -fx-background-color: error;
}

.statusOnlineTest {
    -fx-background-color: success;
}

/*First Launch*/
.firstLaunch {
    -fx-font-size: 16;
    -fx-text-fill: maintext;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-alignment: CENTER;
    -fx-display-caret: true;
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: transparent;
    -fx-background-color: transparent;
}

.firstLaunch *.text {
    -fx-text-alignment: center;
}

.jfx-drawer > .jfx-drawer-side-pane {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.sidebarCircle {
    -fx-stroke: main;
    -fx-fill: background;
}

.jfx-hamburger {
    -fx-background-color: transparent;
}

.jfx-hamburger:hover {
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-background-color: maintext;
}

.jfx-drawer-overlay-pane {
    -fx-background-color: transparent;
}

.rollFill {
    -fx-fill: main;
}

.colorOverlay {
    -fx-background-color: background;
    -fx-opacity: 0.7;
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: transparent;
}